name: Publish to Hex

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    name: Publish to Hex.pm
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2

      - uses: erlef/setup-beam@v1.20.4
        with:
          elixir-version: "1.18"
          otp-version: "27"

      - name: Install dependencies
        run: mix deps.get

      - name: Publish to Hex
        run: mix hex.publish --yes
        env:
          HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
